html {
    font-family: "Inter";
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 97, 153);
}
.title {
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    font-size: clamp(18px, 5vw, 36px);
}
.container {
    width: 500px;
    max-width: 90%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.container #inputValue {
    font-size: 16px;
    font-weight: 600;
    padding: 16px;
    outline: none;
}
.container #outputValue {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}
.container #outputValue .letterArray {
    display: flex;
    padding: 16px 32px;
    background-color: rgb(255, 195, 43);
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    font-size: 20px;
    font-weight: 700;
    color: rgb(14, 33, 40);
}
.highlight {
    opacity: 0.6;
}
